.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
target\
.project
.classpath

bower_components
node_modules
node
*.log
asciidoctor.css
built
dump.rdb
package-lock.json